function Metak.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 9
neg
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Metak.pucanje 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
not
pop this 3
push constant 0
return
function Metak.update 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Metak.erase 1
pop temp 0
push this 0
push this 2
add
pop this 0
push this 0
push constant 15
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Metak.erase 1
pop temp 0
push constant 0
pop this 3
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Metak.draw 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 5
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Metak.diranje 4
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 5
sub
pop local 0
push this 0
push constant 5
add
pop local 1
push this 1
push constant 5
sub
pop local 2
push this 1
push constant 5
add
pop local 3
push argument 1
push local 1
lt
push argument 1
push argument 3
add
push local 0
gt
and
push argument 2
push local 3
lt
and
push argument 2
push argument 3
add
push local 2
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Metak.erase 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 5
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Metak.jelAktivan 0
push argument 0
pop pointer 0
push this 3
return
function Metak.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
function Metak.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
