function Platforma.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Platforma.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Platforma.diranje 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
push this 2
add
push argument 1
push argument 3
add
push this 0
gt
and
push argument 2
push this 1
lt
push this 3
add
and
push argument 2
push argument 3
add
push this 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Platforma.diranjeOdozgo 0
push argument 0
pop pointer 0
push argument 4
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 3
add
push this 1
gt
push argument 2
push argument 3
add
push this 1
push constant 25
add
lt
and
push argument 1
push argument 3
add
push this 0
gt
and
push argument 1
push this 0
push this 2
add
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Platforma.postavi 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push argument 4
pop this 3
push constant 0
return
function Platforma.getX 0
push argument 0
pop pointer 0
push this 0
return
function Platforma.getY 0
push argument 0
pop pointer 0
push this 1
return
function Platforma.getSirina 0
push argument 0
pop pointer 0
push this 2
return
function Platforma.getVisina 0
push argument 0
pop pointer 0
push this 3
return
function Platforma.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
